<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/carte.css">




 
        
        <h1>Carte</h1>
        <div class="content_inner">
            <h2>Carte salée</h2>
            <ul class="liste_carte">
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>       
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
            </ul>
             
            <h2>Carte sucrée</h2>
            <ul class="liste_carte">
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>       
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
                <li>Nom Plat</li>
            </ul>
        </div>
        
        <div class="btntopright">
            <button>+</button>
        </div>
        <div class="btnbotright">
            <button>0</button>
            <button>X</button>
        </div>
