<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/devis.css">




  
   
        <h1>Devis</h1>
        <div class="content_inner">
            <label>Rechercher un devis</label>
            <input type="text">

            <h2>Devis en cours</h2>
            <ul class="devis_list devis_encours">
                <li>
                    <p class="datedevis">Date even. : jj/mm/aaaa hh:mm</p>
                    <p>Nom Prénom</p>
                    <p>Date estim.</p>
                    <p>Type</p>
                    <p>Nb pièces/pers</p>
                    <p>Commentaire commentaire</p>
                </li>
            </ul>

            <h2>Devis envoyés</h2>
            <ul class="devis_list devis_envoyes">
                <li>
                    <p class="datedevis">Date even. : jj/mm/aaaa hh:mm</p>
                    <p>Nom Prénom</p>
                    <p>Date estim.</p>
                    <p>Type</p>
                    <p>Nb pièces/pers</p>
                    <p>Commentaire commentaire</p>
                </li>
            </ul>


            <h2>Devis validés</h2>
            <ul class="devis_list devis_valides">
                <li>
                    <p class="datedevis">Date even. : jj/mm/aaaa hh:mm</p>
                    <p>Nom Prénom</p>
                    <p>Date estim.</p>
                    <p>Type</p>
                    <p>Nb pièces/pers</p>
                    <p>Commentaire commentaire</p>
                </li>
            </ul>
            <div class="btntopright">
                <button>+</button>
            </div>
            <div class="btnbotright">
                <button>0</button>
                <button>X</button>
            </div>
        </div>
