.liste_carte{
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}

.liste_carte li{
    height: 35px;
    width : 30%;
    box-sizing: border-box;
    background-color : #e06128;
    color : #ffffff;
    margin: 10px 5px 0 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.liste_carte li:hover{
    color : #e06128;
    border : 3px solid #e06128;
    background-color: #ffffff;
    cursor: pointer;
}
