.liste_carte{
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}

.liste_carte li {
    padding: 0 5px;
    width: 30%;
    box-sizing: border-box;
    border: 3px solid #e06128;
    background-color: #ffffff;
    margin: 10px 5px 0 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.liste_carte li:hover{
    color : #e06128;
    cursor: pointer;
}


.liste_carte .selected{
    color : #ffffff;
    background-color : #e06128;
    cursor: pointer;
}

.liste_carte .selected:hover{
    color : #ffffff;
}

.liste_carte .indisponible{
    color : #f6c9b4;
    border-color : #f6c9b4;
    cursor: pointer;
}

