.info_client_devis{
    display: flex;
    flex-direction: row;
    width: 100%;   
    margin: 5px 0;
}

.info_client_devis label{
        padding : 0 5px;
}

.info_client_devis input{
    margin : 0 25px 0 5px;
    color : #e06128;
    border : none;
}

.moitie{
    width : 50%;
}

.content_inner .info_client_devis:nth-child(5){
    margin-top: 50px; 
}

.select_option_ctn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 39px;
    width: 100%;
}

.select_recette_ctn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.select_recette, .list_recettes{
    width: 45%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
padding: 25px 0 0 25px;        
}

.list_recettes{
    position: relative;
}

.list_selected{
    height: 300px;
    overflow-y: scroll;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;

}

.list_selected li{
    display: flex;
    border : 3px solid #e06128;
    margin: 5px 0;
    justify-content: center;
    color : #e06128;
        height: 30px;
    align-items: center;
}
.list_selected li:hover, .list_selected li:active, .list_selected li:focus, .list_selected li:focus-within{
    border : 3px solid #cccccc;
    color : #cccccc;
    cursor : pointer;
}

.ctn_recettes{
    border : 3px solid #e06128;
    margin: 15px 0;
    padding: 15px 25px 0 25px;
    box-sizing: border-box;
    position: relative;
    height : 300px;
    overflow-y: scroll;
}

.ctn_recettes li{
    list-style: none;
    line-height: 25px;
}

.ctn_recettes li:hover, .ctn_recettes li:active, .ctn_recettes li:focus, .ctn_recettes li:focus-within{
    border : 3px solid #cccccc;
    cursor : pointer;
}

.selected {
    border : 3px solid #cccccc;
}

.list_recettes button{
    position: relative;
    right: 0;
    bottom: 15px;
    height : 50px;
    width : 70px;
    background: #e06128;
    color : #ffffff;
    border : none;
    transition : all 0.2s;
}



.list_recettes button:hover{
        border : 3px solid #e06128;
    background-color: #ffffff;
    color : #e06128;
    cursor: pointer;
}



.recap_ctn{
    display: flex;
    flex-direction: row;
}

.recap_item{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recap_right{
    border-left : 3px solid #000000;
    margin-left: 0px !important;
}



.recap{
    width: 45%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
margin: 0 25px;        
padding: 0 25px;        
}

.orange{ 
    color : #e06128 !important;
}


.totalprix{
    height: 80px;
    background-color: #e06128;
    width : 100%;
    color : #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin :50px 0;
}

.totalprix p{
    width: 45%;
    box-sizing: border-box;

}
 

























/*/