.devis_list {
	margin: 0;
	padding: 0;
	height: 150px;
	overflow-y: auto;
}

.devis_list thead th {
	position: sticky;
	top: 0;
}

.devis_list li {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: all 0.1s;

}

.devis_list li:hover {
	color: #ffffff;
	cursor: pointer;
}

.devis_list li p {
	padding: 5px 15px;
	font-size: 14px;
}

.devis_list li p {
	margin: 0;
}

.devis_encours li {

	border: 2px solid #3c3c3c;
}

.devis_envoyes li {
	border: 2px solid #e06128;
}

.devis_valides li {
	border: 2px solid green;
}

.devis_encours li:hover {
	background-color: #3c3c3c;
}

.devis_envoyes li:hover {
	background-color: #e06128;
}

.devis_valides li:hover {
	background-color: green;
}

.devis_encours th {
	background-color: #3c3c3c;
	border-color: #3c3c3c;
}

.devis_encours .selected {
	color: #ffffff !important;
	background-color: #3c3c3c !important;
}

.devis_encours td,
.devis_encours tr {
	border-color: #3c3c3c;
}

.devis_envoyes th {
	background-color: #e06128;
	border-color: #e06128;
}

.devis_envoyes td,
.devis_envoyes tr {
	border-color: #e06128;
}

.devis_valides th {
	background-color: green;
	border-color: green;
}

.devis_valides .selected {
	color: #ffffff !important;
	background-color: green !important;
}

.devis_valides td,
.devis_valides tr {
	border-color: green;
}




.datedevis {
	/*    color : #ffffff;*/
	font-weight: 600;
}

/*
.devis_encours .datedevis{
    background-color:  #3c3c3c;
            border : 2px solid #3c3c3c;

}
.devis_envoyes .datedevis{
    background-color:  #e06128;
            border : 2px solid #e06128;

}
.devis_valides .datedevis{
    background-color:  green;
    border : 2px solid green;
}*/



.explications{
	text-align: center;
	margin-top : -15px;
	margin-bottom : 15px;
	font-size : 13px;
	color : #3c3c3c;
}