.btnSelected {
    background: #e06128 !important;
    color: white !important;
}

#div_InfosVente {
    padding-left: 25px;
}

.montantfacture {
    border: 1px solid black;
    padding: 15px;
    margin: 50px 300px 50px 300px;
    background: rgba(107, 97, 97, 0.1);
}

#div_InfosVente .rowinput label{
    padding-left: 25px;
}