body{
    background-image: url(../img/backgroundchezmessoeurs.png);
}

.ctnloginform{

    text-align: center;
    margin-top : 5%;
    background-color : #ffffff;
    border : 3px solid #e06128;
}

.login a{
    text-align: center;
}
 
img{

    width : 50%;
    margin : auto;
    text-align: center;
    margin-top : 5%;
}  
 

.login{
    width: 30%;
    color: #e06128;
    margin: auto;
    justify-content: center;
    display: flex;
    height: 80vh;
    flex-direction: column;

}

.login h1{
    color : #000000;
    margin : 0;
    padding: 10% 5% 5% 5%;
    font-size: 1.4em;
}

.btn{
    border : 3px solid #e06128;
    background-color: #fff; 
    padding: 15px 50px;
    transition: all 0.2s;
}

.btn:hover{
    cursor : pointer;
    color : #e06128 ;
}

.btn > h2{
    color : #000000;
    font-size : 16px;
    display: inline-block;
    transition: all 0.2s;


}

.btn:hover > h2{
    color : #e06128;
}


.loginform{ 
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5%;
    border-radius: 15px;
}

.login input{
    border : none;
    padding : 20px;
    margin : 10px;
    transition: all 0.2s;
    background-color: #f4f4f4;
    
}

.login input:hover{
    border-color : #e06128;
}


.login input:focus {
    border-bottom: 2px solid #e06128 !important;
    outline: none;
}


.mdp{
    margin-top : 15px;    
}


.mdp a{ 
    font-size : 10px;
    text-decoration: none;
    color : #000000;
    transition-property: color;
    transition-duration: 0.2;
}

.mdp a:hover{
    color : #e06128;
}

/* 1b9cfc */


 
.loginfaux{ 
    width : 100%;
    margin : auto;
    text-align: center; 
    padding-top : 9%; 
    color : crimson;
}



.mainlogo{
    visibility: hidden;
}

.hello{
    visibility: hidden;
}

/**********************************************************************/

@media screen and (max-width: 680px) {
    .login{
        width :100%;
    }
}






 









