body {
    margin: 0;
    padding: 0;

}
*{
font-family: 'Alegreya Sans', sans-serif;
}

.main-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    overflow-y: auto;

}

.menu {
    width: 15vw;
    display: flex;
    max-height: 100vh;
    flex-direction: column;
}

.logo { 
        margin: 10% 2% 25% 2%;
}

.logo img {
    max-width: 100%;
}

.content {
    width: 85vw;
    display: flex;
    flex-direction: column;
}

.content_inner {

    display: flex;
    flex-direction: column;
}

.menuleft {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menuleft li {
    width: 100%;
    border: 3px solid #e06128;
    background-color: #ffffff;
    transition: all 0.1s;
    margin-top: -4px;
}

.menuleft li:hover {
    background-color: #e06128;
    cursor: pointer;
}

.menuleft li a {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 8% 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #e06128;
}

.menuleft li a:hover {
    color: #ffffff;
}


h1 {
    margin: auto;
    /* align-self: center; */
    /* position: absolute; */
    /* top: 50px; */
    /* left: 45%; */
    margin-bottom: 75px;
    color: #e06128;
}

ul {
    padding: 0;
    margin: 0;
}

.content_inner {
    width: 100%;
    padding: 50px 100px 125px 50px;
    box-sizing: border-box;

}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;

}

th {
    font-size: 12px;
    text-align: center;
    background-color: #e06128;
    color: #fff;
    padding: 10px 15px;
}


td {
    font-size: 12px;
    text-align: center;
    text-align: center;
    border-top: 2px solid #e06128;
    padding: 5px 10px !important;
    border-bottom: 2px solid #e06128;
}

tr {
    border-left: 2px solid #e06128;
    border-right: 2px solid #e06128;
    transition: all 0.1s;
}

tr:hover,
tr:active,
tr:focus,
tr:focus-within{
    color : #e06128;
    background-color: #f2f2f2;
    cursor : pointer;
}

.selected{
    color: #ffffff;
    background-color: #e06128;
   
}
.selected:hover{
        color: #ffffff;
    background-color: #e06128;
}

.rowinput{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 5px 0;
}

.rowinput label{
    padding-right: 15px;
    min-width :150px;
}

.rowinput p{
    padding :0;
    margin: 0;
}

.rowinput input[type="text"], .rowinput input[type="tel"], .rowinput input[type="email"]{
	border-bottom: 1px solid #000;
	        display: flex;
    flex: 1;
}

.btntopright button {
    width: 100px;
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    background: #e06128;
    color: #ffffff;
    border: none;
    font-size: 30px;
    transition: all 0.2s;
}

.btntopright button:hover {
    border: 3px solid #e06128;
    background-color: #ffffff;
    color: #e06128;
    cursor: pointer;
}







.btnbotright {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
        height: 75px;
}

.btnbotright button {
    width: 100px;
    height: 75px;

    background: #e06128;
    color: #ffffff;
    border: none;
    font-size: 20px;
    transition: all 0.2s;
}

.btnbotright button:hover {
    border: 3px solid #e06128;
    background-color: #ffffff;
    color: #e06128;
    cursor: pointer;
}



.defaultBtn{
    height: 75px;
    background: #e06128;
    color: #ffffff;
    border: none;
    font-size: 15px;
    transition: all 0.2s;
    padding: 0 50px;
    border: 3px solid #e06128;
}
.defaultBtn:hover {
    border: 3px solid #e06128;
    background-color: #ffffff;
    color: #e06128;
    cursor: pointer;
}


input {
    border: none;
    border-bottom: 1px solid #000000;
    transition: all 0.2s;

}


input:hover {
    border-color: #e06128;
}


input:focus {
    border-bottom: 1px solid #e06128 !important;
    outline: none;
}

.hiddenInfos {
    display: none;
}




.ui-datepicker td {
    border: 0;
    padding: 1px !important;
}
.ui-datepicker table {
    border-bottom: 2px solid #e06128 !important;
}

.messageConf{
        color: green;
    background: rgba(50, 168, 82,0.1);
    padding: 15px;
    border: 1px solid green;

}

.messageError{
    color: crimson;
    background: rgba(168, 50, 50,0.1);
    padding: 15px;
    border: 1px solid crimson;

}





/******************************* SCROLL BAR***********************/



.custom_scrollbar::-webkit-scrollbar-track{
  border-radius: 10px;
  background: #fff;
    border : 1px solid #ffffff;
    background: #ffffff;
    z-index: 100;
    position: absolute;
}

.custom_scrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  z-index: 100;
    position: relative;
   background: rgba(0,0,0,0.2);
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
        z-index: 100;

}

.custom_scrollbar::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,0.4);
        z-index: 100;

}

.custom_scrollbar::-webkit-scrollbar{
	width: 10px;
    background: #f2f2f2;
    z-index: 100;

}


/******************************* datetimepicker ***********************/

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #f3705a !important;
    box-shadow: #f3705a 0 1px 3px 0 inset !important;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #000000 !important;
    background: #e6e6e6 !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    font-size: 12px;
    text-align: center;
    background-color: #f3705a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
} 
.xdsoft_datetimepicker td {
    padding: 0 !important;
    margin: 0;
}





