<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/estimations.css">


 
         

          <h1>Estimations reçues</h1>
        <div class="content_inner">
            <table>
                <thead>
                    <th>Date even.</th>
                    <th>Nom Prénom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Date estim.</th>
                    <th>Boxes</th>
                    <th>Brunch</th>
                    <th>Nb pers.</th>
                    <th>Salé</th>
                    <th>Sucré</th>
                    <th>Commentaire</th>
                </thead>
                <tbody>
                    <tr>
                       <td>jj/mm/aaaa hh:mm</td>
                       <td>Nom Prénom</td>
                       <td>0000000000</td>
                       <td>email@emailemail.fr</td>
                       <td>jj/mm/aaaa hh:mm</td>
                       <td>Non</td>
                       <td>Non</td>
                       <td>000</td>
                       <td>00p</td>
                       <td>00p</td>
                       <td>Commentaire commentaire </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btntopright">
            <button>+</button>
        </div>
           <div class="btnbotright">
            <button>Devis</button> 
            <button>X</button>
        </div>

