h1 {
    font-family: goudy-old-style, serif !important;
    font-size: 23px;
    line-height: 75px;
    /* text-transform: uppercase; */
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid #23A455;
    color: #000000;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.infosplus {
    color: #000000;
    font-family: goudy-old-style, serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.26px;
    text-transform: none;
}

h6 {
    margin-left: 0px;
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: goudy-old-style, serif!important;

    font-style: normal;
font-weight: 400;
    text-transform: uppercase;
}


body {

    width: 95%;
    overflow-x: hidden;
    color: #000000;
  font-family: goudy-old-style, serif;
    font-size: 12px;
    line-height: 25px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.26px;
    text-transform: none;
}


.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
}




.colonnes_types {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 20px;
}

.sucre_ctn,
.box_ctn,
.brunchprive_ctn {
    width: 25%;
    height: 300px;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-top: 15px;
}

.sale_ctn {
    width: 25%;
    height: 300px;
    border: 1px solid #000000;
    padding-top: 15px;
}


#sale,
#sucre,
#box,
#brunch {
    height: 85%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px 10px;

}

.prixtemp {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    align-self: flex-end
}

.prixbrunchp,
.prixbrunchp_personne,
.prixsale,
.prixsale_personne,
.prixsucre,
.prixsucre_personne,
.prixbox,
.prixbox_personne {
    width: 50%;
}

.ctn,
.checklabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

/*
.option_sucre_ctn, .option_boisson_ctn{
    display: flex;
    flex-direction: column;
    width: 50%;
}
*/

.options {
    display: flex;
    flex-direction: row;
}

.select_pieces_sucree,
.select_option_boisson {
    font-size: 12px;
}

#prix {
    display: flex;
    flex-direction: row;

    margin: 15px 0;

}


.footer {
    padding: 20px
}



#prix > div {
    color: #000000;
   font-family: goudy-old-style, serif;
    font-weight: 300;
    text-transform: uppercase;
}




.btn {

    padding: 10px 15px;
font-family: goudy-old-style, serif;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    font-size: 16px;
    padding: 15px 30px;

    transition: all 0.2s;

}

.btn:hover {
    cursor: pointer;
    color: #23A455;
    background-color: #FFFFFF;
    border-color: #000000;
font-family: goudy-old-style, serif;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    fill: #000000;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    transform: scale(0.9);
}

label {
    padding-right: 15px;
    width: 66%;
    font-size: 14px;
        line-height: 14px;
}


.ppp,
.pt {
    border-left: 2px solid #23A455;
    padding-left: 15px;
    width: 50%;
}

.btns {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#recap h3 {
    font-weight: 300 !important;
}

#recap {
    color: #000000;
font-family: goudy-old-style, serif!important;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 25px 25px 25px;
    border: 1px solid #000000;
}

.recapligne {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    height: 35px;
    line-height: 0;
}

.recapligne label {

    height: 35px;
    line-height: 35px;
    width: 50% !important;
}

#btn-prix,
.btns a {
    width: 50%;
}

#btn-mail {
    width: 100%;
}

input,
select {
    display: block;
    margin: 5px 0 0;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    outline: 0;
    resize: none;
    width: 50px !important;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    color: #23A455;
font-family: goudy-old-style, serif !important;
    font-style: normal !important;
    font-weight: 400 !important;

}


#nom,
#prenom,
#mail,
#tel,
#date_event {
    width: 250px !important;
    margin-bottom: 15px;
}

#comm {
    width: 100% !important;
}


#formule_salee_choix,
#formule_sucree_choix {
    width: 100px !important;
}

form {
    padding: 25px;
    border: 1px solid #000000;
    margin-top: 25px;
}

form label,
form input {

    width: 100%;
}

form h6 {
    text-align: center;
}

form checkbox {
    width: 25px;
    display: inline-block;
}

#autor {
    width: 25px !important;
    display: inline-block !important;
}


.disabled {
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.01);
    background-color: rgb(220, 220, 220);
    padding: 10px 15px;
    transition: all 0.2s;
font-family: goudy-old-style, serif;
    margin: 0 10px;
    cursor: text;
}

.disabled:hover {
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.01);
    background-color: rgb(220, 220, 220);
    padding: 10px 15px;
    transition: all 0.2s;
font-family: goudy-old-style, serif;
    margin: 0 10px;
}


/*Firefox*/

input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Opéra*/

input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin: 0
}



#nb_invite {
    width: 45px;
}

#autor_label {
    font-size: 15px;
}

#autor {
    margin-top: 20px;
}


.btns a {
    text-decoration: none;
    color: #fff;
}



.nb_pers_min {
    font-size: 10px;
    margin-top: -10px;
}

.liencartebox{
    font-family: goudy-old-style, serif;
    font-size: 14px;
    line-height: 25px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.26px;
    text-transform: none;
    color : #23A455;
    
}









@media only screen and (max-width: 980px) {
    .colonnes_types {
    flex-direction: column;
}
    .sale_ctn, .sucre_ctn, .box_ctn, .brunchprive_ctn {
    width: 100%;
            border: 1px solid #000000;
}

    .recapligne {

    width: 100%;
}


@media only screen and (max-width: 480px) {

    h1,
    h1 a {
        font-size: 35px;
    }

    .colonnes_types {
        flex-direction: column;
    }

    .sale_ctn,
    .sucre_ctn,
    .box_ctn,
    .brunchprive_ctn {
        width: 95%;
        border: 1px solid #000000;

    }

    #nom,
    #prenom,
    #mail,
    #tel,
    #date_event {
        width: 100% !important;
    }

    .recapligne {
            flex-direction: column;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #23A455;
    }

    .content,
    .colonnes_types {
        width: 100% !important;
        margin: 0 !important;
    }

    .footer {
        padding: 20px 0;
        width: 95%;
    }

    .btns {
        justify-content: space-between;
    }

    #btn-prix, .btns a {
        width: 45%;
        height: 70px;
        padding: 15px 5px;
    }

    #btn-mail {
        width: 100%;
        padding: 15px 5px;
        height: 70px;
    }

.recapligne label {

    line-height: auto;
    width: 100% !important;
}






}

