<!DOCTYPE html>
<html>
<head>
    <title>CRM chezmessoeurs</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/loadingSpinner.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsivephone.css">
    <link rel="stylesheet" href="/css/responsivetablet.css">
    <script src="/js/spinner.js"></script>
    <script defer src="/js/utils.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <!--  MENU -->
    <div class="main-container">
        <div class="menu">
            <a href="/" class="logo"><img src="/img/logo_cmstraiteur.png"></a>
            <ul class="menuleft">
                <li>
                    <a href="/agenda">Agenda</a>
                </li>
                <li>
                    <a href="/estimations">Estimations</a>
                </li>
                <li>
                    <a href="/devis">Devis</a>
                </li>            
                <li>
                    <a href="/factures">Factures</a>
                </li>
                <li>
                    <a href="/clients">Clients</a>
                </li>
                <li>
                    <a href="/carte">Carte</a>
                </li>
                <li>
                    <a href="/prix&options">Prix & Options</a>
                </li>
                <li>
                    <a href="/statistiques">Statistiques</a>
                </li>
                <li>
                    <a href="/archives">Archives</a>
                </li>
                <li>
                    <a href="/authentification/logout">Déconnexion</a>
                </li>
            </ul>
        </div>
        <div class="content">    
            
        <!--  INSERER INCLUDE CONTENT PAGE ICI -->
            <% if(locals.isAgenda) { %> 
                <%- include('partials/agenda.html') %> 
            <% } %>
            <% if(locals.isEstimations) { %> 
                <%- include('partials/estimations.html') %>
            <% } %>
            <% if(locals.isDevis) { %> 
                <%- include('partials/devis.html') %>
            <% } %>
            <% if(locals.isDevisItem) { %> 
                <%- include('partials/devisitem.html') %>
            <% } %>
            <% if(locals.isFactures) { %> 
                <%- include('partials/factures.html') %>
            <% } %>
            <% if(locals.isClients) { %> 
                <%- include('partials/clients.html') %>
            <% } %>        
            <% if(locals.isCarte) { %> 
                <%- include('partials/carte.html') %>
            <% } %>
            <% if(locals.isPrix) { %> 
                <%- include('partials/prix.html') %>
            <% } %>
            <% if(locals.isStatistiques) { %> 
                <%- include('partials/statistiques.html') %>
            <% } %>
            <% if(locals.isArchives) { %> 
                <%- include('partials/archives.html') %>
            <% } %>

            <div id="spinner" class="overlay content_inner">
                <div class="overlay__inner">
                    <div class="overlay__content"><span class="spinner"></span></div>
                </div>
            </div>

        </div><!--  FIN CONTENT -->
    </div><!--  FIN MAIN CONTAINER -->

</body>
</html>
