<!DOCTYPE html>
<html>
<head>
    <title>CRM chezmessoeurs</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <!--  CSS -->
    <link rel="stylesheet" href="/css/loadingSpinner.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/main.css">    
    <link rel="stylesheet" href="/assets/datetimepicker/jquery.datetimepicker.min.css">

    <% if(locals.isAgenda) { %> 
        <link rel="stylesheet" href="/assets/@fullcalendar/core/main.min.css">
        <link rel="stylesheet" href="/assets/@fullcalendar/daygrid/main.min.css">
        <link rel="stylesheet" href="/assets/@fullcalendar/timegrid/main.min.css">
        <link rel="stylesheet" href="/css/agenda.css">
    <% } %>
    <% if(locals.isVentes) { %> 
        <link rel="stylesheet" href="/css/ventes.css">
    <% } %>
    <% if(locals.isFactures) { %> 
        <link rel="stylesheet" href="/css/factures.css">
    <% } %>
    <% if(locals.isClients) { %> 
        <link rel="stylesheet" href="/css/clients.css">
    <% } %> 
    <% if(locals.isStatistiques) { %> 
        
    <% } %>

    <link rel="stylesheet" href="/css/responsivephone.css">
    <link rel="stylesheet" href="/css/responsivetablet.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">

    <!--  JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> -->
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script defer type="text/javascript" src="/assets/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="/js/spinner.js"></script>
    <script defer src="/js/utils.js"></script>
</head>
<body>
    <!--  MENU -->
    <div class="main-container">
        <div class="menu">
            <a href="/" class="logo"><img src="/img/logo_cmstraiteur.png"></a>
            <ul class="menuleft">
                <li>
                    <a href="/agenda">Agenda</a>
                </li>        
                <li>
                    <a href="/ventes">Ventes</a>
                </li>  
                <li>
                    <a href="/factures">Factures</a>
                </li>
                <li>
                    <a href="/clients">Clients</a>
                </li>
                <li>
                    <a href="/statistiques">Statistiques</a>
                </li>
                <li>
                    <a href="/authentification/logout">Déconnexion</a>
                </li>
            </ul>
        </div>
        <div class="content">    
            
        <!--  INSERER INCLUDE CONTENT PAGE ICI -->
            <% if(locals.isAgenda) { %> 
                <%- include('partials/agenda.html') %> 
            <% } %>
            <% if(locals.isVentes) { %> 
                <%- include('partials/ventes.html') %> 
            <% } %>
            <% if(locals.isFactures) { %> 
                <%- include('partials/factures.html') %>
            <% } %>
            <% if(locals.isClients) { %> 
                <%- include('partials/clients.html') %>
            <% } %>  
            <% if(locals.isStatistiques) { %> 
                <%- include('partials/statistiques.html') %>
            <% } %>

            <div id="spinner" class="overlay content_inner">
                <div class="overlay__inner">
                    <div class="overlay__content"><span class="spinner"></span></div>
                </div>
            </div>

        </div><!--  FIN CONTENT -->
    </div><!--  FIN MAIN CONTAINER -->

</body>
</html>
