<script type="module" src="/assets/@fullcalendar/core/main.min.js"></script>
<script type="module" src="/assets/@fullcalendar/daygrid/main.min.js"></script>
<script type="module" src="/assets/@fullcalendar/timegrid/main.min.js"></script>

<script defer src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script defer src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>

<script defer src="/js/agenda.js"></script>


<div class="content_inner">
	<h1>Planning des prestations</h1>
	<div class="container_calegende">
		<div id="calendar"></div>
	</div>
</div>
