<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css">
<script defer src="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid/main.min.css">
<script defer src="https://unpkg.com/@fullcalendar/daygrid/main.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/timegrid/main.min.css">
<script defer src="https://unpkg.com/@fullcalendar/timegrid/main.min.js"></script>


<script defer src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script defer src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>

<link rel="stylesheet" href="/css/agenda.css">
<script defer src="/js/agenda.js"></script>


<div class="content_inner">
	<h1>Planning des prestations</h1>
	<div class="container_calegende">
		<div id="calendar"></div>
		<div class="legende">
			<div class="legendeitem ">
				<div class="blue"></div>
				<label>Devis [état]</label>
			</div>

			<div class="legendeitem">
				<div class="purple"></div>
				<label>Estimation</label>
			</div>
			<div class="legendeitem">
				<label class="labellegende">Apéritif <br>(00/00)</label>
				<label>(Nb de personnes / nb de pièces salées)</label>
			</div>
			<div class="legendeitem">
				<label class="labellegende">Cocktail <br>(00/00/00)</label>
				<label>(Nb de personnes / nb de pièces salées / nb de pièces sucrées)</label>
			</div>
			<div class="legendeitem">
				<label class="labellegende">Boxes <br>(00)</label>
				<label>(Nb de personnes)</label>
			</div>
			<div class="legendeitem">
				<label class="labellegende">Brunch <br>(00/00/00)</label>
				<label>(Nb de personnes / nb de pièces salées / nb de pièces sucrées)</label>
			</div>
		</div>
	</div>
</div>
