<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css">
<script defer src="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid/main.min.css">
<script defer src="https://unpkg.com/@fullcalendar/daygrid/main.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/timegrid/main.min.css">
<script defer src="https://unpkg.com/@fullcalendar/timegrid/main.min.js"></script>


<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>

<link rel="stylesheet" href="/css/agenda.css">
<script defer src="/js/agenda.js"></script>


<div class="content_inner">
    <h1>Planning des prestations</h1>
    <div id="calendar"></div>
</div>