 <link rel="stylesheet" href="css/clients.css">
<script defer src="js/clients.js"></script>
<script defer src="js/modals/clients.js"></script>


        
        
        
         
          <h1>Clients</h1>
        <div class="content_inner">
            <table>
                <thead>
                    <th>Nom Prénom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Nb Prestations</th>
                    <th>Dernier Statut</th>
                    <th>Paiement(s) en retard</th>

                </thead>
                <tbody>
                <% if(locals.infos) { %>
                    <tr><td colspan="8">
                        <%= infos.error %>
                        <%= infos.message %>
                    </td></tr>         
                <% } else { %>                    
                    <% if(locals.clients) { %>
                        <% clients.forEach(client => { %>
                            <% const { Id_Client, Nom_Prenom, Adresse_Facturation, Telephone, Email, Type, Nombre_Prestations, Dernier_Statut, Paiement_En_Retard } = client %>
                            <% const id = 'client_' + Id_Client %>
                            <tr id="<%= id %>">
                                <td><%= Nom_Prenom %></td>
                                <td><%= Adresse_Facturation %></td>
                                <td><%= Telephone %></td>
                                <td><%= Email %></td>
                                <td><%= Type %></td>
                                <td><%= Nombre_Prestations %></td>
                                <td><%= Dernier_Statut %></td>
                                <td><%= Paiement_En_Retard %></td>    
                            </tr>
                        <% }) %>
                    <% } %>
                <% } %>
                          
                </tbody>
            </table>
        </div>

        <div class="modal" id="modalUpdate">
            <div class="modal-content">
                <span class="close closespan">&times;</span>
                <h2>Client</h2>
                <form id="formUpdate" action="/clients/" method="PATCH">                    
                    <label for="Nom_Prenom">Nom Prénom : </label><input id="Nom_Prenom" name="Nom_Prenom" type="text" placeholder="Nom Prénom" required></br>
                    <label for="Adresse_Facturation">Adresse Facturation : </label><input id="Adresse_Facturation" name="Adresse_Facturation" type="text" placeholder="18 Avenue de la Concorde, 21000 Dijon" required></br>
                    <label for="Telephone">Téléphone : </label><input id="Telephone" name="Telephone" type="text" placeholder="0661918012" required></br>
                    <label>Type : </label>
                    <input id="Particulier" name="Type" value="Particulier" type="radio" required><label>Particulier</label>
                    <input id="Professionnel" name="Type" value="Professionnel" type="radio" required><label>Professionnel</label></br>
                    <p id="modalError"></p></br>
                    <p id="modalMessage"></p></br>
                    <button id="btnUpdate">&check;</button>
                    <button class="close closebtn" type="button">&times;</button>
                </form>
            </div>
        </div>
        

        <div class="btnbotright">
            <button id="btnOpenModalUpdate">0</button> 
            <form id="formDelete" action="/clients/delete/" method="POST">
                <button id="btnDelete">X</button>
            </form>            
        </div>

    

        </div>
