<link rel="stylesheet" href="css/devisitem.css">




        <!--  INFOS CLIENT -->

        <h1>Devis n°00000</h1>
        <div class="content_inner">
            <div class="info_client_devis">
                <div class="moitie">
                    <label>Date de l'événement :</label>
                    <input type="text" value="jj/mm/aaaa hh:mm">
                </div>
                <label>Adresse de livraison :</label>
                <input type="text" value="1 Rue de la rue 21000 DIJON">
            </div>

            <div class="info_client_devis">
                <div class="moitie">
                    <label>Prestation :</label>
                    <input type="text" value="Salé/Sucré">
                </div>
                <label>Type :</label>
                <input type="text" value="Particulier / Professionnel">
            </div>

            <div class="info_client_devis">
                <div class="moitie">
                    <label>Client :</label>
                    <input type="text" value="Nom Prénom">
                </div>
                <label>Téléphone :</label>
                <input type="tel" value="0000000000">
                <label>Email :</label>
                <input type="email" value="email@email.fr">
            </div>

            <div class="info_client_devis">
                <div class="moitie">
                    <label>Ref client :</label>
                    <input type="text" value="0123456B">
                </div>
                <label>Adresse facturation :</label>
                <input type="text" value="1 Rue de La Rurue 21000 DIJON DIJON">
            </div>
            <div class="info_client_devis">
                <label>Nombre de personnes :</label>
                <input type="text" value="000">
            </div>

            <!--  RECETTES SALEES -->


            <div class="select_recette_ctn">
                <div class="select_recette">
                    <div class="nb_salees">
                        <label>Nombre de pièces salées par personne :</label>
                        <input type="text" value="000">
                    </div>
                    <ul class="list_selected">
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                    </ul>
                </div>
                <div class="list_recettes">
                    <label>Mes recettes salées</label>
                    <div class="ctn_recettes">
                        <ul>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                        </ul>
                    </div>
                    <button>+</button>

                </div>
            </div>

            <!--  RECETTES SUCREES -->



            <div class="select_recette_ctn">
                <div class="select_recette">
                    <div class="nb_salees">
                        <label>Nombre de pièces sucrées par personne :</label>
                        <input type="text" value="000">
                    </div>
                    <ul class="list_selected">
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                    </ul>
                </div>
                <div class="list_recettes">
                    <label>Mes recettes sucrées</label>
                    <div class="ctn_recettes">
                        <ul>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                            <li>Nom de recette</li>
                        </ul>
                    </div>
                    <button>+</button>

                </div>
            </div>

            <!--  OPTIONS -->


            <div class="select_recette_ctn">
                <div class="select_recette">
                    <div class="nb_salees">
                        <label>Ajouter une option</label>
                    </div>
                    <ul class="list_selected">
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                        <li>+</li>
                    </ul>
                </div>
                <div class="list_recettes">
                    <label>Mes options</label>
                    <div class="ctn_recettes">
                        <ul>
                            <li>Service sur place</li>
                            <li>Livraison sur place</li>
                            <li>Décoration florale</li>

                        </ul>
                    </div>
                    <button>+</button>

                </div>
            </div>

            <!--  REMISE -->


            <div class="select_option_ctn">
                <div class="select_recette">
                    <div class="nb_salees">
                        <label>Ajouter une option</label>
                    </div>
                    <ul class="list_selected">
                        <li>+</li>
                    </ul>
                </div>
            </div>


            <label>Commentaire :</label>
            <input type="text">

            <!--  RECAP -->

            <h2>Récapitulatif</h2>

            <div class="recap_ctn">
                <div class="recap">
                    <div class="recap_item">
                        <p>Salé</p>
                        <p class="orange">00.00 HT/pers.</p>
                        <p class="orange">00.00 HT</p>
                    </div>
                    <div class="recap_item">
                        <p>Sucré</p>
                        <p class="orange">00.00 HT/pers.</p>
                        <p class="orange">00.00 HT</p>
                    </div>
                </div>
                <div class="recap recap_right">
                    <div class="recap_item">
                        <p>Box déjeuner</p>
                        <p class="orange">00.00 HT/pers.</p>
                        <p class="orange">00.00 HT</p>
                    </div>
                    <div class="recap_item">
                        <p>Brunch privé</p>
                        <p class="orange">00.00 HT/pers.</p>
                        <p class="orange">00.00 HT</p>
                    </div>
                </div>
            </div>



            <div class="totalprix">
                <p>Prix HT : 00,00€</p>
                <p>Prix HT : 00,00€</p>
            </div>

        </div>
