<link rel="stylesheet" type="text/css" href="/css/estimations.css">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script defer src="/js/estimations.js"></script>


 
         

        <div class="content_inner">
          <h1>Estimations reçues</h1>
          <%# Affiche si une erreur est survenue %>      
          <% if (locals.infos && infos.error) { %>
            <h3>
                <%= infos.error %> 
            </h3>
           <%# Affiche le contenu s'il n'y a pas de problème sur le serveur %> 
           <% } else { %>
                <table>
                    <thead>
                        <th>Date even.</th>
                        <th>Client</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Date estim.</th>                    
                        <th>Apéritif</th>
                        <th>Cocktail</th>
                        <th>Boxes</th>
                        <th>Brunch</th>
                        <th>Commentaire</th>
                        <th>Statut</th>
                    </thead>
                    <tbody>
                    <% if(locals.infos && infos.message) { %>
                        <tr><td colspan="11">
                            <%= infos.message %>
                        </td></tr>         
                    <% } else { %>                    
                        <% if(locals.estimations) { %>
                            <% estimations.forEach(estimation => { %>
                                <% const { Id_Estimation, Date_Creation, Client, Date_Evenement, String_Formule_Aperitif, String_Formule_Cocktail, String_Formule_Box, String_Formule_Brunch, Commentaire, Statut } = estimation %>
                                <% const id = 'estimation_' + Id_Estimation %>
                                <tr id="<%= id %>">
                                    <td><%= moment.utc(Date_Evenement).format(formatDateHeure) %></td>   
                                    <td><%= Client.Nom_Prenom %></td>
                                    <td><%= Client.Telephone %></td>
                                    <td><%= Client.Email %></td>
                                    <td><%= moment.utc(Date_Creation).format(formatDateHeure) %></td>
                                    <td><%= String_Formule_Aperitif %></td>
                                    <td><%= String_Formule_Cocktail %></td>
                                    <td><%= String_Formule_Box %></td>    
                                    <td><%= String_Formule_Brunch %></td>   
                                    <td><%= Commentaire %></td>   
                                    <td><%= Statut %></td>   
                                </tr>
                            <% }) %>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            <% } %> 
        </div>
        <div class="btnbotright">
            <button id="btnToDevis">Devis</button> 
            <button id="btnArchiveEstimation">X</button>
        </div>

