<link rel="stylesheet" href="/css/factures.css">

 
         
          <h1>Factures</h1>
        <div class="content_inner">
            <table>
                <thead>
                   <th>N°</th>
                   <th>Date d'édition</th>
                    <th>Nom Prénom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Acompte</th>
                    <th>Reste à payer</th>
                    <th>Statut</th>
                    <th>Paiement(s) en retard</th>
                    <th>Relance(s)</th>

                </thead>
                <tbody>
                    <tr>
                      <td>2019-0000</td>
                    <td>jj/mm/aaaa hh:mm</td>
                       <td>Nom Prénom</td>
                       <td>0000000000</td>
                       <td>email@emailemail.fr</td>
                       <td>-</td>
                       <td>0000€</td>
                       <td>Payée</td>
                       <td>J+32</td>
                       <td>0 - jj/mm/aaaa</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal">
            <div class="modal-content">
                <span class="close closespan">&times;</span>
                <h2>Facture n°</h2>
                <div class="rowinput">
                    <label>Date d'édition :</label>
                    <p>jj/mm/aaaa - hh:mm</p>
                </div>
                <div class="rowinput">
                    <label>Nom Prénom :</label>
                    <p>Nom prénom</p>
                </div>
                <div class="rowinput">
                    <label>Email :</label>
                    <p>email@email.fr</p>
                </div>
                <div class="rowinput">
                    <label>Téléphone :</label>
                    <p>06 00 00 00 00</p>
                </div>
                <h4>Statut</h4>
                <div class="row">
                    <button>En attente de paiement</button>
                    <button>Payée</button>
                    <button>Acompte</button>
                </div>
                <h4>Actions</h4>
                <div class="row">
                    <button>Archiver</button>
                    <button>Exporter</button>
                    <button>Envoyer une relance</button>
                </div>
                <button id="btnUpdate">&check;</button>
            </div>
        </div>

           <div class="btnbotright">
            <button>0</button> 
            <button>X</button>
        </div>
