<link rel="stylesheet" href="/css/factures.css">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script defer src="/js/factures.js"></script>
<script defer src="/js/modals/factures.js"></script>

        
        <div class="content_inner">
            <h1>Factures</h1>
            <%# Affiche si une erreur est survenue %>      
            <% if (locals.infos && infos.error) { %>
                <h3>
                    <%= infos.error %> 
                </h3>
            <%# Affiche le contenu s'il n'y a pas de problème sur le serveur %> 
            <% } else { %>
                <table>
                    <thead>
                        <th>N°</th>
                        <th>Date d'édition</th>
                        <th>Client</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Acompte</th>
                        <th>Reste à payer</th>
                        <th>Statut</th>
                        <th>Paiement(s) en retard</th>
                        <th>Relance(s)</th>

                    </thead>
                    <tbody>
                        <% if (locals.infos && infos.message) { %>
                            <tr>
                                <td colspan="10">
                                    <%= infos.message %>
                                </td>
                            </tr>
                        <% } else { %>
                            <% if (locals.factures) { %>
                                <% for(let facture of factures) { %> 
                                    <% let stringRelance = facture.Nb_Relances.toString() %>
                                    <% if(facture.Date_Derniere_Relance !== null) stringRelance += ` - ${moment.utc(facture.Date_Derniere_Relance).format('DD/MM/YYYY')}` %> 
                                    <tr id="facture_<%= facture.Id_Facture %>">
                                        <td><%= facture.Numero_Facture %></td>
                                        <td><%= moment.utc(facture.Date_Creation).format(formatDateHeure) %></td>
                                        <td><%= facture.Client.Prenom + ' ' + facture.Client.Nom %></td>
                                        <td><%= facture.Client.Telephone %></td>
                                        <td><%= facture.Client.Email %></td>
                                        <td><%= Number(facture.Acompte).toFixed(2) %>€</td>
                                        <td><%= Number(facture.Reste_A_Payer).toFixed(2) %>€</td>
                                        <td><%= facture.Statut %></td>
                                        <td><%= facture.Paiement_En_Retard %></td>
                                        <td><%= stringRelance %></td>
                                    </tr>
                                <% } %>                             
                            <% } %>
                        <% } %>                     
                    </tbody>
                </table>
            <% } %> 
        </div>

        <div class="modal" id="modalUpdate">
            <div class="modal-content">
                <input type="hidden" id="Id_Facture">
                <h2>Facture n°<span id="Numero_Facture"></span></h2>
                <div class="rowinput">
                    <label>Date d'édition :</label>
                    <p id="Date_Creation"></p>
                </div>
                <div class="rowinput" id="divSociete">
                    <label>Société :</label>
                    <p id="Societe"></p>
                </div>
                <div class="rowinput">
                    <label>Client :</label>
                    <p id="Client"></p>
                </div>
                <div class="rowinput">
                    <label>Email :</label>
                    <p id="Email"></p>
                </div>
                <div class="rowinput">
                    <label>Téléphone :</label>
                    <p id="Telephone"></p>
                </div>
                <h4>Statut</h4>
                <div class="row" id="Statut">
                    <button id="btnAttente" data-statut="En attente de paiement">En attente de paiement</button>
                    <button id="btnPayee" data-statut="Payée">Payée</button>
                    <button type="button" disabled>Acompte : <input id="Acompte" type="number" min="0" step=".01"></button>
                </div>
                <h4>Actions</h4>
                <div class="row">
                    <button id="btnArchive">Archiver</button>
                    <button id="btnExport">Exporter</button>
                    <button id="btnRelance">Envoyer une relance</button>
                </div>
                <p id="modalError" class="messageError"></p><br>
                <p id="modalMessage" class="messageConf"></p><br>
                <button id="btnUpdate">&check;</button>
            </div>
        </div>

        <div class="btnbotright">
            <button id="btnOpenModalUpdate">0</button> 
            <button id="btnDelete">X</button>
        </div>
