<div class="content_inner">

    <h1>Statistiques</h1>
    <div class="stats_ctn">

        <div class="stats CAmois">
            <h2>Chiffre d'affaires du mois</h2>
            <div class="graph_ctn">
            </div>
        </div>

        <div class="stats prochains">
            <h2>Prochains services traiteur</h2>
            <table class="tab_stats_prochains">
                <thead>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Nb Convives</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="stats impayes">
            <h2>Facture en attente de règlement</h2>
             <table class="tab_stats_impayes">
                <thead>
                    <th>Date</th>
                    <th>Client</th>
                    <th>N° Facture</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="stats enretard">
            <h2>Règlements en retard</h2>
             <table class="tab_stats_enretard">
                <thead>
                    <th>Date</th>
                    <th>Client</th>
                    <th>N° Facture</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
